<div class="main-container">
    <div class="tabla">
        <div class="titulos">
            <div class="container-cart">
                <h1>LISTA DE PRODUCTOS</h1>
                <div class="btn-cart" id="btn-cart">
                    <div>🛒</div>

                </div>
            </div>
            <ul>
                <li>Code</li>
                <li>Nombre</li>
                <li>Descripcion</li>
                <li>Precio</li>
                <li>Stock</li>
                <li>Categoria</li>
                <li>Agregar</li>

            </ul>
        </div>
        <div id="form-real-time">
            {{#each data.payload}}
            <ul class="producto" data-id={{this._id}}>
                <li class="idTitle">{{this.code}}</li>
                <li><strong>{{this.title}}</strong></li>
                <li>{{this.description}}</li>
                <li>$ {{this.price}} </li>
                <li>{{this.stock}}</li>
                <li>{{this.category}}</li>
                <button class="btn-addToCart" id="btn-addToCart">➕</button>
            </ul>
            {{/each}}
        </div>
        <div class="container-btn-pages">
            {{#if data.hasPrevPage}}
            <a class="btn-pages" href={{data.prevLink}}>PREV</a>
            {{/if}}
            <p>{{data.page}}</p>
            {{#if data.hasNextPage}}
            <a class="btn-pages" href={{data.nextLink}}>NEXT</a>
            {{/if}}
        </div>
    </div>

</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/products.js"></script>